*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* body */



img {
  max-width: 100%;

  object-fit: cover;
  object-position: center;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

/* .button */

/* .button-dark */



/* .page-header */

/* navigation */

.navigation-logo img {
  display: block;
  width: 100%;
  height: 100%;
}
