@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  background-color: #f2f2f2;
}

/* body start */

body {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  color: #333333;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* body over */

img {
  max-width: 100%;

  object-fit: cover;
  object-position: center;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

/* buttons start */

.button {
  display: inline-block;
  padding: 8px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-light {
  background-color: #82b3d3;
}

.button-transparent {
  background-color: transparent;
}

.booking-button {
  display: inline-block;
  width: 376px;
  padding: 8px 10px;

  font-size: 20px;
  line-height: 36px;
}

.navigation-button {
  min-width: 160px;
  padding: 8px;
}

.subscribe-button {
  display: block;
  width: 232px;
  padding: 8px 50px;

  font-size: 20px;
  line-height: 36px;

  border-radius: 0 4px 4px 0;
}

/* buttons over */

/* page-header start */

/* navigation start */

.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 70px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
  margin-left: auto;
}

.navigation-logo {
  position: relative;
  z-index: 1;

  display: block;
  width: 140px;
  height: 70px;
  margin-bottom: -5px;
}

.navigation-item {
  margin: 0 16px;
}

.navigation-logo img {
  display: block;
  width: 100%;
  height: 100%;
}

.navigation-link {
  position: relative;

  display: inline-block;
  padding: 19px 0 17px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  vertical-align: middle;
  color: #000000;
  text-decoration: none;
}

.navigation-link-current::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -3px;
  left: 0;

  height: 2px;

  background-color: #756257;
}

.navigation-user-link {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  color: #000000;
}

.navigation-notification-badge {
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  padding: 5px;

  font-size: 10px;
  line-height: 10px;
  color: #ffffff;

  background-color: #7db54f;
  border-radius: 10px;
}

/* navigation over */

/* page-header over */

/* main start */

.main {
  flex-grow: 1;
}

.intro {
  padding: 51px 70px 82px;

  color: #ffffff;

  background-color: #82b3d3;
  background-image: url("../images/hero-divider.svg"),
    url("../images/hero-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, center;
  background-size: 100% auto, cover;
}

.intro-img {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
}

.intro-img img {
  display: block;
  width: 100%;
  height: 100%;
}

.page-description {
  padding: 69px 70px 90px;

  text-align: center;
}

.page-description-rest {
  padding: 64px 70px;
}

.page-title {
  margin: 0 0 25px;

  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.page-description-rest .page-title {
  margin: 0 0 20px;
}

.page-text {
  margin-top: 0;

  font-size: 22px;
  line-height: 26px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-rest-list .advantages-title {
  margin-bottom: 29px;
  padding-bottom: 0;
}

.advantages-rest-list .advantages-title::after {
  display: none;
}

.advantages-container {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  background-color: rgba(130, 179, 212, 0.2);
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-full {
  color: #ffffff;

  background-color: #82b3d3;
}

.advantages-item-full:last-child .advantages-image {
  flex-grow: 1;
  order: -1;
}

.advantages-rest-list .advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-rest-list .advantages-item:nth-child(2n) {
  background-color: #ffffff;
}

.advantages-content {
  width: 400px;
  min-height: 384px;
  padding: 103px 85px;

  text-align: center;
}

.advantages-title {
  position: relative;

  margin: 0 0 31px;
  padding-bottom: 31px;

  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 60px;
  height: 2px;

  background-color: rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
}

.advantages-content-home {
  background-image: url("../images/home.svg");
}

.advantages-content-food {
  background-image: url("../images/food.svg");
}

.advantages-content-souvenirs {
  background-image: url("../images/souvenir.svg");
}

.advantages-rest-list .advantages-content {
  padding-top: 183px;
  padding-bottom: 0;

  background-repeat: no-repeat;
  background-position: center 81px;
}

.advantages-item-full .advantages-title {
  color: #ffffff;
}

.advantages-item-full .advantages-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-image img {
  display: block;
  width: 100%;
  height: 100%;
}

.booking {
  padding: 96px 70px;

  text-align: center;
}

.booking-title {
  margin: 0 0 20px;
}

.booking .page-text {
  margin: 0 0 54px;
}

.subscribe {
  padding: 96px 70px 104px;

  text-align: center;
}

.subscribe-title {
  margin: 0 0 20px;
}

.subscribe-text {
  margin: 0 0 54px;
}

.subscribe-home {
  color: #ffffff;

  background-color: #82b3d3;
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-home .subscribe-title {
  color: #ffffff;
}

.subscribe-form {
  display: grid;
  max-width: 684px;
  margin: 0 auto;

  grid-template-columns: 1fr auto;
}

.form-input {
  width: 100%;
  height: 48px;
  padding: 10px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  color: #000000;

  background-color: #f2f2f2;
  border: 2px solid transparent;
  border-radius: 4px;
}

.subscribe-input {
  height: 52px;

  font-weight: 400;

  border-radius: 4px 0 0 4px;
}

/*catalog start*/

.filter {
  margin-bottom: 25px;
  padding: 35px 70px 70px;

  color: #ffffff;

  background-color: #82b3d3;
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.catalog-filter {
  display: grid;
  align-items: start;

  gap: 20px 70px;
  grid-template-columns: auto auto 1fr 191px;
}

.catalog-filter-title {
  margin: 0 0 8px;
}

.filter-group {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-group-range {
  margin-left: auto;
}

.filter-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 56px;
}

.filter-submit {
  min-width: 191px;
  margin: 0 0 32px;
}

.catalog-filter-title {
  margin: 0 0 7px;

  font-size: 60px;
  line-height: 78px;
}

.filter-title {
  margin-bottom: 33px;
  padding: 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.filter-list {
  display: grid;
  justify-content: start;

  gap: 16px;
  grid-template-columns: 1fr;
}

.filter-item {
  display: grid;

  gap: 17px;
  grid-template-columns: auto 1fr;
}

.filter-control-label {
  font-size: 18px;
  line-height: 23px;
}

.filter-control-input {
  position: relative;

  width: 20px;
  height: 20px;
  margin: 0;

  background-color: #ffffff;
  border-radius: 4px;

  appearance: none;
}

.filter-control-input[type="checkbox"]:checked {
  background-image: url("../images/checked.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.filter-control-input[type="radio"] {
  border-radius: 50%;
}

.filter-control-input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 10px;
  height: 10px;

  background-color: #3f5e72;
  border-radius: 50%;
  transform: translatE(-50%, -50%);
}

.filter-range-change {
  display: grid;
  margin-bottom: 35px;

  gap: 2px;
  grid-template-columns: repeat(2, 143px);
}

.filter-range-item label {
  position: absolute;
  right: 0;

  padding: 11px 20px;

  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.filter-toggle {
  position: relative;

  height: 20px;
}

.filter-toggle::before,
.filter-toggle::after {
  content: "";
  position: absolute;
  bottom: 8px;

  height: 4px;
}

.filter-toggle::before {
  left: 0;

  width: 76%;

  background-color: #ffffff;
}

.filter-toggle::after {
  right: 0;

  width: 24%;

  background-color: rgba(255, 255, 255, 0.3);
}

.filter-toggle-item {
  position: absolute;
  bottom: 0;
  z-index: 2;

  width: 20px;
  height: 20px;

  background-color: #ffffff;
  border: none;
  border-radius: 5px;
}

.filter-toggle-item-min {
  left: 0;
}

.filter-toggle-item-max {
  right: 21%;
}

.filter-range-item {
  position: relative;
}

.filter-range-input {
  padding: 10px 45px 10px 18px;
}

.filter-range-input-min {
  border-radius: 4px 0 0 4px;
}

.filter-range-input-max {
  border-radius: 0 4px 4px 0;
}

.filter-submit {
  margin-bottom: 33px;
  padding-bottom: 7px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 40px;
}

.breadcrumbs-item-home a {
  display: block;
  width: 13px;
  height: 21px;

  background-image: url("../images/breadcrumbs-homelogo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px 15px;
}

.breadcrumbs-item {
  position: relative;

  margin-right: 28px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -18px;

  width: 7px;
  height: 10px;

  background-image: url("../images/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: contain;
  transform: translateY(-50%);
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link-current {
  pointer-events: none;
}

.sorting {
  display: grid;
  align-items: center;
  padding: 50px 70px 40px;

  gap: 20px 68px;
  grid-template-columns: 1fr auto auto;
}

.sorting-view {
  display: grid;

  gap: 8px;
  grid-template-columns: repeat(3, auto);
}

.sorting-title {
  margin: 0;

  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

/* Добавить фоновую стрелочку */
.sorting-select {
  width: 292px;
  height: 49px;
  padding: 0 40px 0 18px;

  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  color: #333333;

  background-color: transparent;
  background-image: url("../images/sorting-arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 18px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;

  appearance: none;
}

.sorting-link {
  display: block;
  width: 48px;
  height: 48px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.sorting-link-table {
  background-image: url("../images/sorting-table.svg");
}

.sorting-link-slideshow {
  background-image: url("../images/sorting-slideshow.svg");
}

.sorting-link-list {
  background-image: url("../images/sorting-list.svg");
}

.sorting-link-active {
  border-color: #000000;
}

.variants {
  padding: 0 70px 60px;
}

.variant-list {
  display: grid;
  padding-bottom: 40px;

  border-bottom: 1px solid #e6e6e6;

  gap: 17px 20px;
  grid-template-columns: repeat(3, 1fr);
}

.variant-item {
  display: grid;
  padding: 20px;

  border: 1px solid #e6e6e6;
  border-radius: 4px;

  gap: 16px 20px;
  grid-template-columns: repeat(2, 1fr);
}

.variant-image {
  display: block;
  max-width: 300px;
  height: 212px;

  grid-column: 1/-1;
}

.variant-image img {
  display: block;
  width: 100%;
  height: 100%;
}

.variant-link {
  display: inline-block;

  color: #000000;
  text-decoration: none;

  grid-column: 1/-1;
}

.variant-link-title {
  margin: 0;

  font-size: 24px;
  line-height: 28px;
}

.variant-text + .variant-text {
  text-align: right;
}

.variant-item a {
  text-decoration: none;
}

.variant-rating {
  display: block;
  padding: 8px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border-radius: 4px;
}

.variant-star {
  display: block;
  height: 37px;

  background-image: url("../images/stars.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.variant-star-4 {
  width: 90px;
}

.variant-star-3 {
  width: 70px;
}

.variant-star-2 {
  width: 50px;
}

.variant-button {
  width: 140px;
}

.variant-favorite-current {
  background-color: #7db54f;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 60px;
  padding: 5px;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;

  background-color: #82b3d3;
  border: 1px solid #82b3d3;
  border-radius: 4px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  padding: 38px 0 37px;

  gap: 8px;
}

.pagination-current {
  color: #000000;

  background-color: #f2f2f2;
  border-color: transparent;
}

.pagination-link-more {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;

  background-color: transparent;
  border-color: transparent;
}

/*catalog over*/

/* main over */

/* .page-footer start */

.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
}

.footer-phone {
  display: block;
  margin: 0 auto;

  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}
/* .page-footer over */
