@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  background-color: #f2f2f2;
}

/* body start */

body {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  color: #333333;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* body over */

img {
  max-width: 100%;
  height: auto;

  object-fit: cover;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

/* buttons start */

.button {
  display: inline-block;
  margin: 0;
  padding: 8px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #615048;
}

.button:focus {
  background-color: #615048;
  outline: none;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #756157;
}

.button:disabled,
.button-disabled {
  color: #ffffff;

  background-color: #e5e5e5;

  pointer-events: none;
}

.button-light {
  background-color: #82b3d3;
}

.button-light:hover {
  background-color: #68a2ca;
}

.button-light:focus {
  background-color: #68a2ca;
  outline: none;
}

.button-light:active {
  background-color: #82b3d3;
}

.button-light:disabled {
  background-color: #e5e5e5;
}

.button-transparent {
  background-color: transparent;
}

.button-transparent:hover {
  background-color: transparent;
  opacity: 0.6;
}

.button-transparent:focus {
  background-color: transparent;
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.button-transparent:active {
  background-color: transparent;
}

.button-transparent:disabled {
  color: rgba(255, 255, 255, 0.1);

  background-color: transparent;
}

/* buttons over */

/* page-header start */

/* navigation start */

.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 70px;
}

.navigation-logo {
  position: relative;
  z-index: 1;

  display: block;
  width: 140px;
  height: 70px;
  margin-bottom: -5px;
}

.navigation-logo img {
  display: block;
  width: 100%;
  height: 100%;
}

.navigation-logo:hover {
  opacity: 0.6;
}

.navigation-logo:focus {
  outline: none;
  opacity: 0.6;
}

.navigation-logo:active {
  opacity: 0.3;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 600px;
  margin-left: 28px;
}

.navigation-item {
  margin: 0 16px;
}

.navigation-link {
  position: relative;

  display: inline-block;
  padding: 18px 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  vertical-align: middle;
  color: #000000;
  text-decoration: none;
}

.navigation-link:hover {
  color: #756157;
}

.navigation-link:focus {
  color: #756157;

  outline: none;
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-link-current::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -3px;
  left: 0;

  height: 2px;

  background-color: #756257;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  max-width: 100px;
  margin-right: 24px;
  margin-left: auto;
}

.navigation-user-link {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  color: #000000;
}

.navigation-user-link:hover {
  opacity: 0.6;
}

.navigation-user-link:focus {
  outline: none;
  opacity: 0.6;
}

.navigation-user-link:active {
  opacity: 0.3;
}

.navigation-notification-badge {
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  padding: 5px;

  font-size: 10px;
  line-height: 10px;
  color: #ffffff;

  background-color: #7db54f;
  border-radius: 10px;
}

.navigation-button {
  width: 160px;
}

/* navigation over */

/* page-header over */

/* main start */

.main {
  flex-grow: 1;
}

.intro {
  padding: 51px 70px 82px;

  color: #ffffff;

  background-color: #82b3d3;
  background-image: url("../images/hero-divider.svg"),
    url("../images/hero-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, center;
  background-size: 100% auto, cover;
}

.intro-img {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
}

.intro-img img {
  display: block;
  width: 100%;
  height: 100%;
}

.page-description {
  padding: 69px 70px 67px;

  text-align: center;
}

.page-description-rest {
  padding: 65px 70px 42px;
}

.page-title {
  margin: 0 0 25px;

  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.page-description-rest .page-title {
  margin: 0 0 20px;
}

.page-text {
  margin-top: 0;

  font-size: 22px;
  line-height: 26px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  background-color: rgba(130, 179, 212, 0.2);
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-full {
  color: #ffffff;

  background-color: #82b3d3;
}

.advantages-container {
  display: flex;
}

.advantages-item-full:last-child .advantages-container {
  flex-direction: row-reverse;
}

.advantages-content {
  width: 400px;
  min-height: 384px;
  padding: 113px 85px 30px;

  text-align: center;
}

.advantages-item-full .advantages-content {
  padding-top: 103px;
}

.advantages-title {
  position: relative;

  margin: 0 0 31px;
  padding-bottom: 31px;

  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 60px;
  height: 2px;

  background-color: rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
}

.advantages-item-full .advantages-title {
  color: #ffffff;
}

.advantages-item-full .advantages-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-image img {
  display: block;
  width: 100%;
  height: 100%;
}

.advantages-text {
  margin: 0;
}

.advantages-rest-list .advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-rest-list .advantages-item:nth-child(2n) {
  background-color: #ffffff;
}

.advantages-rest-list .advantages-content {
  padding-top: 183px;

  background-repeat: no-repeat;
  background-position: center 81px;
}

.advantages-content-home {
  background-image: url("../images/home.svg");
}

.advantages-content-food {
  background-image: url("../images/food.svg");
}

.advantages-content-souvenirs {
  background-image: url("../images/souvenir.svg");
}

.advantages-rest-list .advantages-title {
  margin-bottom: 29px;
  padding-bottom: 0;
}

.advantages-rest-list .advantages-title::after {
  display: none;
}

.booking {
  padding: 96px 70px;

  text-align: center;
}

.booking-title {
  margin: 0 0 20px;
}

.booking .page-text {
  margin: 0 0 55px;
}

.booking-button {
  display: inline-block;
  width: 376px;
  padding: 8px 10px;

  font-size: 20px;
  line-height: 36px;
}

.subscribe {
  padding: 96px 70px 104px;

  text-align: center;
}

.subscribe-home {
  color: #ffffff;

  background-color: #82b3d3;
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-title {
  margin-bottom: 20px;
}

.subscribe-text {
  margin-bottom: 55px;
}

.subscribe-home .subscribe-title {
  color: #ffffff;
}

.subscribe-form {
  display: grid;
  max-width: 684px;
  margin: 0 auto;

  grid-template-columns: 1fr auto;
}

.form-input {
  width: 100%;
  height: 48px;
  padding: 13px 17px 10px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  color: #000000;

  background-color: #f2f2f2;
  border: 2px solid transparent;
  border-radius: 4px;

  appearance: none;
}

.form-input[type="number"] {
  appearance: textfield;
}

.form-input::-webkit-outer-spin-button,
.form-input::-webkit-inner-spin-button {
  appearance: none;
}

.form-input::placeholder {
  color: rgba(0, 0, 0, 0.6);

  opacity: 1;
}

.form-input:hover {
  background-color: #e6e6e6;
}

.form-input:focus {
  background-color: #e6e6e6;
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
}

.form-input:focus:not(:placeholder-shown) {
  background: #f2f2f2;
  border: 2px solid #000000;
}

.form-input-disabled,
.form-input:disabled {
  opacity: 0.3;

  pointer-events: none;
}

.form-input-valid {
  background-color: #ffffff;
  border: 2px solid #7db54f;
}

.form-input-error {
  border: 2px solid #ff5757;
}

.subscribe-input {
  height: 52px;

  font-weight: 400;

  border-radius: 4px 0 0 4px;
}

.subscribe-button {
  width: 232px;

  font-size: 20px;
  line-height: 36px;

  border-radius: 0 4px 4px 0;
}

/*catalog start*/

.filter {
  padding: 35px 70px 68px;

  color: #ffffff;

  background-color: #82b3d3;
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.catalog-filter-title {
  margin: 0 0 7px;

  font-size: 60px;
  line-height: 78px;
}

/*breadcrumbs start*/

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 40px;
}

.breadcrumbs-item {
  position: relative;

  margin-right: 28px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -18px;

  width: 7px;
  height: 10px;

  background-image: url("../images/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: contain;
  transform: translateY(-50%);
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  outline: none;
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link-current {
  pointer-events: none;
}

.breadcrumbs-item-home a {
  display: block;
  width: 13px;
  height: 21px;

  background-image: url("../images/breadcrumbs-homelogo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px 15px;
}

/*breadcrumbs over*/

.catalog-filter {
  display: grid;
  grid-template-columns: auto auto 1fr 191px;
  gap: 20px 70px;
  align-items: start;
}

.filter-group {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-title {
  margin-bottom: 32px;
  padding: 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.filter-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  justify-content: start;
}

.filter-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 17px;
}

.filter-control-label {
  font-size: 18px;
  line-height: 23px;

  cursor: pointer;
}

.filter-control-input {
  position: relative;

  width: 20px;
  height: 20px;
  margin: 0;

  background-color: #ffffff;
  border-radius: 4px;

  appearance: none;
}

.filter-control-input[type="checkbox"]:checked {
  background-image: url("../images/checked.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.filter-control-input[type="radio"] {
  border-radius: 50%;
}

.filter-control-input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 10px;
  height: 10px;

  background-color: #3f5e72;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.filter-control-input:hover,
.filter-control-input:hover + .filter-control-label {
  opacity: 0.6;
}

.filter-control-input:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
}

.filter-control-input:active,
.filter-control-input:active + .filter-control-label {
  opacity: 0.3;
}

.filter-control-input:disabled,
.filter-control-input:disabled + .filter-control-label {
  opacity: 0.3;

  pointer-events: none;
}

.filter-group-range {
  margin-left: auto;
}

.filter-range-change {
  display: grid;
  grid-template-columns: repeat(2, 143px);
  gap: 2px;
  margin-bottom: 35px;
}

.filter-range-item {
  position: relative;
}

.filter-range-input {
  padding: 10px 55px 10px 18px;
}

.filter-range-input-min {
  border-radius: 4px 0 0 4px;
}

.filter-range-input-max {
  border-radius: 0 4px 4px 0;
}

.filter-range-item label {
  position: absolute;
  right: 0;

  padding: 11px 20px;

  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.filter-toggle {
  position: relative;

  height: 20px;
}

.filter-toggle::before,
.filter-toggle::after {
  content: "";
  position: absolute;
  bottom: 8px;

  height: 4px;
}

.filter-toggle::before {
  left: 0;

  width: 76%;

  background-color: #ffffff;
}

.filter-toggle::after {
  right: 0;

  width: 24%;

  background-color: rgba(255, 255, 255, 0.3);
}

.filter-toggle-item {
  position: absolute;
  bottom: 0;
  z-index: 2;

  width: 20px;
  height: 20px;

  background-color: #ffffff;
  border: none;
  border-radius: 5px;
}

.filter-toggle-item-min {
  left: 0;
}

.filter-toggle-item-max {
  right: 21%;
}

.filter-toggle-item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.filter-toggle-item:focus {
  outline: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25), 0 0 0 3px #83b3d3;
}

.filter-toggle-item:active {
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4), 0 0 0 2px #83b3d3;
}

.filter-toggle-item:disabled {
  color: #ffffff;

  background-color: #e5e5e5;

  pointer-events: none;
}

.filter-button {
  display: flex;
  flex-direction: column;
  padding-top: 56px;
}

.filter-submit {
  margin-bottom: 33px;
  padding-bottom: 8px;
}

.sorting {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 20px 68px;
  align-items: center;
  padding: 50px 70px 40px;
}

.sorting-title {
  margin: 0;

  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.sorting-select {
  width: 292px;
  height: 49px;
  padding: 0 40px 0 18px;

  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  color: #333333;

  background-color: transparent;
  background-image: url("../images/sorting-arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 18px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;

  appearance: none;
}

.sorting-select:hover {
  border: 2px solid #68a2ca;
}

.sorting-select:focus {
  border: 2px solid #68a2ca;
  outline: none;
}

.sorting-select:disabled {
  color: #000000;

  border: 2px solid #000000;
  opacity: 0.3;

  pointer-events: none;
}

.sorting-view {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 8px;
}

.sorting-link {
  display: block;
  width: 48px;
  height: 48px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.sorting-link-table {
  background-image: url("../images/sorting-table.svg");
}

.sorting-link-slideshow {
  background-image: url("../images/sorting-slideshow.svg");
}

.sorting-link-list {
  background-image: url("../images/sorting-list.svg");
}

.sorting-link-active {
  border-color: #000000;
}

.sorting-link:hover {
  border: 2px solid #000000;
}

.sorting-link:focus {
  border: 2px solid #68a2ca;
  outline: none;
}

.sorting-link:active {
  border: 2px solid #000000;
}

.sorting-link-disabled,
.sorting-link:disabled {
  opacity: 0.3;
}

.variants {
  padding: 0 70px 24px;
}

.variant-list {
  display: grid;
  padding-bottom: 40px;

  border-bottom: 1px solid #e6e6e6;

  gap: 17px 20px;
  grid-template-columns: repeat(3, 1fr);
}

.variant-item {
  display: grid;
  padding: 20px;

  border: 1px solid #e6e6e6;
  border-radius: 4px;

  gap: 16px 20px;
  grid-template-columns: repeat(2, 1fr);
}

.variant-image {
  display: block;
  max-width: 300px;
  height: 212px;

  grid-column: 1/-1;
}

.variant-image:hover {
  opacity: 0.6;
}

.variant-image:focus {
  outline: 3px solid #83b3d3;
  outline-offset: 2px;
}

.variant-image:active {
  opacity: 0.3;
}

.variant-image img {
  display: block;
  width: 100%;
  height: 100%;
}

.variant-link {
  display: inline-block;

  color: #000000;
  text-decoration: none;

  grid-column: 1/-1;
}

.variant-link:hover {
  opacity: 0.6;
}

.variant-link:focus {
  outline: none;
  opacity: 0.6;
}

.variant-link:active {
  opacity: 0.3;
}

.variant-link-title {
  margin: 0;

  font-size: 24px;
  line-height: 28px;
}

.variant-text + .variant-text {
  text-align: right;
}

.variant-favorite-current {
  background-color: #7db54f;
}

.variant-favorite-current:hover,
.variant-favorite-current:focus {
  background-color: #6c9e42;
  outline: none;
}

.variant-favorite-current:active {
  background-color: #7db54f;
}

.variant-favorite-current-disabled,
.variant-favorite-current:disabled {
  background-color: #e5e5e5;
}

.variant-star {
  display: block;
  height: 37px;

  background-image: url("../images/stars.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.variant-star-4 {
  width: 90px;
}

.variant-star-3 {
  width: 70px;
}

.variant-star-2 {
  width: 50px;
}

.variant-rating {
  display: block;
  padding: 8px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border-radius: 4px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  padding: 38px 0 37px;

  gap: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 60px;
  padding: 5px;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;

  background-color: #82b3d3;
  border: 1px solid #82b3d3;
  border-radius: 4px;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus {
  background-color: #68a2ca;
  outline: none;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #82b3d3;
}

.pagination-current {
  color: #000000;

  background-color: #f2f2f2;
  border-color: transparent;

  pointer-events: none;
}

.pagination-link-more {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;

  background-color: transparent;
  border-color: transparent;
}

.pagination-link-more:focus {
  background-color: transparent;
  border-color: #68a2ca;
}

.pagination-link-more:hover,
.pagination-link-more:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: transparent;
  border-color: #68a2ca;
}

/*catalog over*/

/* main over */

/* .page-footer start */

.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 45px 70px 30px;
}

/*.footer-social {
  display: flex;
  flex-wrap: wrap;
}*/

.social {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;

  color: #83b3d3;
}

.social-link:hover {
  color: #68a2ca;
}

.social-link:focus {
  color: #68a2ca;

  outline: none;
}

.social-link:active {
  opacity: 0.3;
}

.social-link svg {
  fill: currentColor;
}

.footer-phone {
  display: block;
  margin: 0 auto;

  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.footer-phone:hover {
  color: #756157;
}

.footer-phone:focus {
  color: #756157;

  outline: none;
}

.footer-phone:active {
  opacity: 0.3;
}

.logo-creator {
  display: block;
  width: 115px;
  height: 33px;

  color: #000000;
}

.logo-creator:hover {
  color: #756157;
}

.logo-creator:focus {
  color: #756157;

  outline: none;
}

.logo-creator:active {
  opacity: 0.3;
}

.logo-creator svg {
  fill: currentColor;
}

/* .page-footer over */

/* modal start*/

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;

  display: flex;

  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;

  margin: auto;
  padding: 64px 70px 64px;

  background: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-search {
  width: 717px;
}

.modal-close-button {
  position: absolute;
  top: 63px;
  right: 52px;

  width: 52px;
  height: 52px;

  color: #000000;

  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button::before,
.modal-close-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 17px;
  height: 2px;

  background-color: #000000;
}

.modal-close-button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal-close-button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
}

.modal-close-button:active {
  background-color: #e6e6e6;
}

.modal-close-button:active::before,
.modal-close-button:active::after {
  opacity: 0.3;
}

.modal-title {
  padding-right: 40px;
}

.form {
  display: grid;
  padding-top: 38px;

  gap: 22px 82px;
  grid-template-columns: repeat(2, 1fr);
}

.form-label {
  width: 120px;
  padding-top: 13px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.form-container {
  display: grid;

  gap: 17px;
  grid-template-columns: auto 1fr;
}

.date {
  grid-column: 1/-1;
}

.date-input {
  padding: 12px 56px 10px 18px;

  background-image: url("../images/icon-calendar.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 16px 15px;
}

.form-message {
  display: inline-block;
  margin: 5px 0 0 20px;

  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.form-message-error {
  color: #ff5757;
}

.people-input {
  padding: 13px 30px 10px;

  line-height: 20px;
  text-align: center;
}

.children .adults-label {
  width: auto;
}

.tooltip-container {
  display: flex;
  align-items: start;
  width: 120px;
  padding-left: 6px;
}

.tooltip {
  position: relative;

  margin-left: 11px;
  padding-top: 8px;
}

.tooltip-toggle {
  width: 26px;
  height: 26px;

  background-color: #83b3d3;
  background-image: url("../images/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2px 12px;
  border: none;
  border-radius: 50%;
}

.tooltip-text {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 10;

  display: none;
  width: 256px;
  margin: 15px 0 0;
  padding: 20px 20px 23px;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background: #333333;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
}

.tooltip-text::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 50%;
  z-index: -1;

  width: 12px;
  height: 12px;

  background-color: #333333;
  transform: translateX(-50%) rotate(45deg);
}

.tooltip-toggle:hover ~ .tooltip-text,
.tooltip-toggle:focus ~ .tooltip-text {
  display: block;
}

.people-input-container {
  position: relative;
}

.people-button {
  position: absolute;
  top: 50%;

  width: 20px;
  height: 20px;

  background: none;
  border: none;
  transform: translateY(-50%);
  cursor: pointer;
}

.people-button::before,
.people-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 13px;
  height: 2px;

  background-color: rgba(117, 97, 87, 0.3);
  transform: translate(-50%, -50%);
}

.people-button::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.people-button-minus {
  left: 8px;
}

.people-button-minus::after {
  display: none;
}

.people-button-plus {
  right: 7px;
}

.people-button:hover::after,
.people-button:hover::before {
  background-color: #000000;
}

.people-button:focus::after,
.people-button:focus::before {
  background-color: #000000;
}

.people-button:focus {
  border: 3px solid #82b3d3;
}

.people-button:active::after,
.people-button:active::before {
  background-color: rgba(0, 0, 0, 0.2);
}

.form-button {
  margin-top: 27px;
  padding: 18px;

  font-size: 20px;
  line-height: 24px;

  border-radius: 10px;

  grid-column: 1/-1;
}

/* modal over */
